body {
  padding: 0;
  margin: 0;
  background-color: #ecf0f1;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: Roboto, Helvetica, sans-serif; }

#parent {
  height: 100%; }

#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #22313f;
  color: white;
  border: none !important; }
  #header .navbar-header > button.navbar-toggle {
    color: #fff; }
    #header .navbar-header > button.navbar-toggle span {
      color: #fff;
      background-color: #fff; }
    #header .navbar-header > button.navbar-toggle:hover, #header .navbar-header > button.navbar-toggle:focus, #header .navbar-header > button.navbar-toggle:active {
      background-color: #e9d460;
      border-color: #e9d460; }
  #header #navbar {
    border: none; }
  #header .navbar-brand img {
    margin-top: -10px;
    margin-left: -10px;
    height: 40px;
    width: 80px; }
  #header .navbar-right .dropdown-toggle {
    background-color: #22313f;
    vertical-align: middle;
    padding: 10px;
    height: 49px; }
    #header .navbar-right .dropdown-toggle:active, #header .navbar-right .dropdown-toggle:focus, #header .navbar-right .dropdown-toggle:hover {
      text-decoration: none;
      background-color: #192532; }
      #header .navbar-right .dropdown-toggle:active p, #header .navbar-right .dropdown-toggle:focus p, #header .navbar-right .dropdown-toggle:hover p {
        color: #e9d460; }
  #header .navbar-right p {
    color: #ecf0f1;
    font-size: 1.2em;
    padding: 5px 10px 0 0; }
  #header .navbar-right img {
    height: 20px;
    width: 20px; }
  #header .dropdown-menu {
    margin: 0;
    border-radius: 0 0 3px 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    background-color: #192532;
    border-color: #192532; }
    #header .dropdown-menu li:hover a {
      color: #e9d460;
      background-color: #192532; }
    #header .dropdown-menu li a {
      color: #fff; }
    #header .dropdown-menu i.nav-dropdown-icon {
      float: right; }

.mobile-user-options {
  float: right;
  margin-top: 8px;
  margin-right: 10px;
  vertical-align: middle;
  color: #fff; }
  .mobile-user-options img {
    height: 30px;
    width: 30px;
    margin-right: 10px; }
  .mobile-user-options:hover, .mobile-user-options:active, .mobile-user-options:focus {
    text-decoration: none;
    color: #e9d460; }

#sidebar, #sidebar-resp {
  position: relative;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: auto;
  background-color: #22313f;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  text-align: center; }
  #sidebar ul li a, #sidebar-resp ul li a {
    color: #fff; }
  #sidebar ul li:hover a,
  #sidebar ul li:active a,
  #sidebar ul li:focus a, #sidebar-resp ul li:hover a,
  #sidebar-resp ul li:active a,
  #sidebar-resp ul li:focus a {
    background-color: #192532;
    color: #e9d460; }

#parent {
  margin-top: 50px;
  margin-left: 0px;
  background-color: #ecf0f1;
  height: 100%; }

#main-content {
  height: 100%; }

#page-wrapper {
  height: 100%; }

#bs-example-navbar-collapse-1 {
  border-top-width: 0px !important;
  padding: 0 !important;
  background-color: #22313f;
  margin: 0;
  overflow-x: hidden;
  text-align: center; }

@media (min-width: 768px) {
  #parent {
    margin-left: 100px; }

  #sidebar {
    color: white;
    position: fixed;
    top: 49px;
    width: 100px;
    border: none;
    border-radius: 0;
    overflow-y: auto;
    bottom: 0;
    overflow-x: hidden;
    padding-bottom: 40px; }
    #sidebar li a {
      color: #ecf0f1;
      width: 100px;
      text-align: center; }
      #sidebar li a:hover {
        outline: none;
        color: #e9d460;
        background-color: #192532 !important; }
        #sidebar li a:hover i, #sidebar li a:hover p {
          color: #e9d460 !important; }
      #sidebar li a:focus {
        outline: none;
        color: #e9d460;
        background-color: #192532 !important; }
        #sidebar li a:focus i, #sidebar li a:focus p {
          color: #e9d460 !important; }
      #sidebar li a p {
        margin-bottom: 0px !important; } }
.nopadding {
  padding: 0 !important;
  margin: 0 !important; }

.files_title {
  background-color: #ecf0f1; }
  .files_title button {
    display: inline;
    margin-right: 20px;
    border: none;
    background-color: transparent;
    cursor: pointer; }
    .files_title button:hover, .files_title button:visited {
      border-bottom: 4px solid;
      border-bottom-color: #e9d460; }
  .files_title button:first-child {
    border-bottom: 4px solid;
    border-bottom-color: #e9d460; }

.files_list {
  background-color: #ecf0f1;
  margin-top: 50px;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3); }
  .files_list .file {
    border-bottom: 1px solid;
    border-bottom-color: grey;
    padding: 15px 10px 15px 10px;
    text-align: center; }
    .files_list .file .user_name {
      font-size: xx-small; }
    .files_list .file .minutes {
      font-size: x-small;
      float: right;
      margin-bottom: 0 !important; }
    .files_list .file .file_details {
      display: inline-block; }
      .files_list .file .file_details .file_show {
        width: 20px; }
    .files_list .file .perfil_picture {
      width: 60px; }

/*# sourceMappingURL=UI5.css.map */
