//colors
//F7 + F8 to use
@import 'global';

#title_team_name {
  margin-top: 10px;
}

.media {

  #profile_pic {
    padding-right: 20px;

    img {
      border-radius: 50px;
    }
  }

  .media-body {
    #team_role {
      margin-top: 20px;
    }

    i {
      cursor: pointer;
      margin-left: 88%;
    }
  }
}

.profile_details {
  margin-top: 20px;

  i#zoom_out {
    cursor: pointer;
    margin-left: 97%;
  }

  #profile_actions i {
    cursor: pointer;
  }
}

#add_member_card {
  cursor: pointer;
  :active {
    background-color:#192532 !important;
    color: #e9d460;
  }
}


.modal-content .modal-footer {
  #accept_button:hover {
      background-color: green;
      color: white;
  }
  #cancel_button:hover {
    background-color: red;
    color: white;
  }
}

#promote1{
  padding-top: 4px;
}
