@import 'global';

.datepicker.datepicker-dropdown.dropdown-menu.datepicker-orient-left.datepicker-orient-bottom {
  margin-top: 60px;
  margin-left: 60px;
}

#page-meetings {

  .nopadding {
    padding: 0 !important;
  }

  .title_bar {
    background-color: white;
    padding: 10px 10px 0px 10px;

    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      &:hover {
        border-bottom: 4px solid;
        border-bottom-color: $color_yellow;
      }
    }

    button:first-child {
      border-bottom: 4px solid;
      border-bottom-color: $color_yellow;
    }
  }

  .container_meetings {
    border: none;
    background-color: transparent;
    margin-top: 1%;
    padding-bottom: 4%;
    overflow-y: scroll !important;

    .button_scheduale {
      padding-top: 20px;
      padding-bottom: 40px;

      .schedule {
        padding: 4px 20px 4px 20px;
        color: white;
        background-color: $color_yellow;
        border: none;
        border-radius: 5px;
        align-self: center;
        outline: 0;

        &:hover {
          background-color: $blue_secondary;
          border: none;
        }
      }
    }

    .meeting {
      border-radius: 5px;
      vertical-align: middle;
      background-color: $white;

      .panel-heading{
        font-weight: lighter;
        width: 100%;
        padding-left: 30px !important;
        padding-right: 0px !important;
        padding-top: 10px;
        background-color: $color_ebony_clay;
        color: white;

        &:hover{
          background-color: $color_yellow;
        }

        #see_more {
          font-size: 24px;
          float: right;
          margin-right: 30px;
          cursor: pointer;
          vertical-align: middle;
        }

        .description{
          font-weight: normal;
        }

        .date {
          font-size: large;
          font-weight: normal;
        }

        i{
          font-size: large;
        }
      }

      .panel-body{
        padding-left: 30px !important;
        padding-top: 0px !important;


        .information_meeting {

          .hour {
            font-size: large;
            font-weight: normal;
          }

          #plus_user {
            color: $color_yellow;
            font-size: 35px;
            cursor: pointer;
          }

          .user_responsible {
            font-weight: normal;
            padding-bottom: 5px;
          }

          .guests {
            padding-top: 10px;
            .user_photo {
              margin-right: 5px;
              width: 35px;
              float: left;
            }
          }

        }
      }
    }

  }

  #container_schedule_meeting{

    .panel-heading{
      background-color: $color_yellow;
      color: white;
      span{
        font-size: medium;
      }
    }

    .button_trash {
      text-align: right;
      margin-left: 15px;

      .trash {
        padding: 4px 15px 4px 15px;
        color: white;
        background-color: #c0392b;
        border: 2px solid #c0392b;
        border-radius: 5px;
        align-self: center;
        outline: 0;

        &:hover {
          background-color: transparent;
          border: 2px solid;
          border-color: #c0392b;;
          color: #c0392b;;
        }
      }

    }

    .form_meeting {
      .new_meeting {
        margin-top: 10px;
        padding-left: 25px;
        padding-bottom: 190px;
        padding-top: 50px;

        .title {
          background-color: transparent;
          border: none;
          outline: 0;
          padding-bottom: 15px;
          font-size: medium;
        }

        .date {
          background-color: transparent;
          border: none;
          outline: 0;
        }

        .time {
          background-color: transparent;
          border: none;
          outline: 0;
        }

        .atendees {
          background-color: transparent;
          border: none;
          outline: 0;
        }

        .agenda {
          margin-bottom: 20px;
        }

        textarea.agenda {
          background-color: transparent;
          outline: 0;

        }

        .minutes {
          background-color: transparent;
          border: none;
          outline: 0;
        }

        .file {
          background-color: transparent;
          border: none;
          outline: 0;
        }

        .box_input {
          border: 3px dashed;
          border-radius: 6px;
          border-color: #2C3E50;
          background-color: #F2F1EF;
          vertical-align: middle;

          .box_button {
            background-color: transparent;
            font-size: medium;
            border: none;
            margin-bottom: 10px;
          }
        }

      }

    }


  }


  #create-meeting-settings {

    .new_meeting{

      .title{
        margin-bottom: 30px;

      }

      .calendar{
        text-align: center;
        vertical-align: middle;
        height: 34px;
        display:table;

        margin-bottom: 20px;

        input.form-control{
          top: 1px;
          height: 34px;
        }
        span{
          width: 60px;
          border: solid 1px #bebebe;
          border-top-left-radius: 3px;
          border-bottom-left-radius: 3px;
          background-color: $background_white;
          text-align: center;
          display:table-cell;
          vertical-align:middle;
        }

        input{
          height: 30px;
          border-top-left-radius: 0px;
          border-bottom-left-radius: 0px;
        }
      }

      .atendees,.minutes{
        text-align: center;
        vertical-align: middle;
        height: 34px;
        display:table;
        margin-bottom: 20px;

        span.select2{
          top: 1px;
        }

        span.select2-selection{
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }

        span.meetings_icon{
          width: 60px;
          border: solid 1px #bebebe;
          border-top-left-radius: 3px;
          border-bottom-left-radius: 3px;
          background-color: $background_white;
          text-align: center;
          display:table-cell;
          vertical-align:middle;
        }

        input{
          border-top-left-radius: 0px;
          border-bottom-left-radius: 0px;
        }
      }

      .agenda{

        background-color: white;
        border-radius: 5px;
        padding: 20px;
        textarea{
          width: 100%;
          height: 90px;
          overflow-y: scroll;
        }
        button{
          background-color: $blue_secondary;
          border-radius: 5px;
          border-color: transparent;
          color: white;
          &:hover{
            background-color: $color_yellow;
          }
        }

      }


      .box.drag_here{
        border-radius: 5px;
        height: 150px;
        margin-top: 40px;
        border: 1px dashed grey;
        vertical-align: middle;
        background-color: $background_white;
        display: table;
        width: 100%;

        div{
          display: table-cell;
          vertical-align: middle;
        }
        .info{
          padding-top: 30px;
          text-align: center;
          font-size: medium;
          color: grey;
        }

        .glyphicon.glyphicon-plus{
          text-align: center;
          font-size: x-large;
          color: grey;
        }
      }

      .meetings_icon{

      }
    }


  }
}
