body {
  padding: 0;
  margin: 0;
  background-color: #ecf0f1;
  height: 100vh;
  overflow-y: scroll;
  font-family: Roboto, Helvetica, sans-serif; }

#parent {
  height: 100%; }

#header {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 50px;
  background-color: #22313f; }

#sidebar {
  position: relative;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: auto;
  background-color: #22313f;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  text-align: center; }

#parent {
  margin-top: 50px;
  margin-left: 0px;
  background-color: #ecf0f1;
  height: 100%; }

#main-content {
  height: 100%; }

#page-wrapper {
  height: 100%; }

#bs-example-navbar-collapse-1 {
  border-top-width: 0px !important;
  padding: 0 !important;
  background-color: #22313f;
  margin: 0;
  overflow-x: hidden;
  text-align: center; }

@media (min-width: 768px) {
  #parent {
    margin-left: 100px; }

  #sidebar {
    position: fixed;
    top: 49px;
    width: 100px;
    border: none;
    border-radius: 0;
    overflow-y: auto;
    bottom: 0;
    overflow-x: hidden;
    padding-bottom: 40px; }
    #sidebar li a {
      color: #ecf0f1;
      width: 100px;
      text-align: center; }
      #sidebar li a:hover {
        outline: none;
        color: #e9d460;
        background-color: #192532 !important; }
        #sidebar li a:hover i, #sidebar li a:hover p {
          color: #e9d460 !important; }
      #sidebar li a:focus {
        outline: none;
        color: #e9d460;
        background-color: #192532 !important; }
        #sidebar li a:focus i, #sidebar li a:focus p {
          color: #e9d460 !important; }
      #sidebar li a p {
        margin-bottom: 0px !important; } }
.datepicker.datepicker-dropdown.dropdown-menu.datepicker-orient-left.datepicker-orient-bottom {
  margin-top: 60px;
  margin-left: 60px; }

#page-meetings .nopadding {
  padding: 0 !important; }
#page-meetings .title_bar {
  background-color: white;
  padding: 10px 10px 0px 10px; }
  #page-meetings .title_bar button {
    background-color: transparent;
    border: none;
    cursor: pointer; }
    #page-meetings .title_bar button:hover {
      border-bottom: 4px solid;
      border-bottom-color: #e9d460; }
  #page-meetings .title_bar button:first-child {
    border-bottom: 4px solid;
    border-bottom-color: #e9d460; }
#page-meetings #future_meetings {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: white;
  margin-top: 4%;
  padding-bottom: 4%;
  overflow-y: scroll !important; }
  #page-meetings #future_meetings .button_scheduale {
    padding-top: 20px;
    padding-bottom: 20px; }
    #page-meetings #future_meetings .button_scheduale .schedule {
      padding: 4px 20px 4px 20px;
      color: white;
      background-color: #22313f;
      border: none;
      border-radius: 5px;
      align-self: center;
      outline: 0; }
      #page-meetings #future_meetings .button_scheduale .schedule:hover {
        background-color: #e9d460;
        border: none; }
  #page-meetings #future_meetings .meetings {
    margin-top: 10px; }
    #page-meetings #future_meetings .meetings .specify_padding {
      padding-left: 20px !important;
      padding-right: 0px !important;
      margin-bottom: 15px; }
    #page-meetings #future_meetings .meetings .meeting {
      border-radius: 5px;
      vertical-align: middle;
      background-color: #ecf0f1;
      position: relative;
      padding: 90px 0 30px 25px; }
      #page-meetings #future_meetings .meetings .meeting .header {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        padding: 20px 30px 10px 10px;
        background-color: #22313f;
        color: white;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0; }
        #page-meetings #future_meetings .meetings .meeting .header .padding {
          padding-left: 20px !important; }
        #page-meetings #future_meetings .meetings .meeting .header .see_more {
          padding-right: 20px !important; }
      #page-meetings #future_meetings .meetings .meeting #see_more {
        font-size: 24px;
        float: right;
        margin-right: 30px;
        font-weight: normal;
        cursor: pointer; }
      #page-meetings #future_meetings .meetings .meeting .information_meeting .hour {
        font-size: large; }
      #page-meetings #future_meetings .meetings .meeting .information_meeting #plus_user {
        color: #e9d460;
        font-size: 26px;
        cursor: pointer; }
      #page-meetings #future_meetings .meetings .meeting .information_meeting .date {
        font-size: large;
        font-weight: bold;
        padding-left: 25px; }
      #page-meetings #future_meetings .meetings .meeting .information_meeting .user_responsible {
        font-weight: normal;
        font-size: small; }
      #page-meetings #future_meetings .meetings .meeting .information_meeting .guests {
        padding-top: 10px; }
        #page-meetings #future_meetings .meetings .meeting .information_meeting .guests .user_photo {
          margin-right: 5px;
          width: 25px;
          float: left; }
#page-meetings .form_meeting label {
  margin-bottom: 20px; }
#page-meetings .form_meeting .new_meeting {
  margin-top: 10px;
  padding-left: 25px;
  padding-bottom: 190px;
  padding-top: 50px; }
  #page-meetings .form_meeting .new_meeting .title {
    background-color: transparent;
    border: none;
    outline: 0;
    padding-bottom: 15px;
    font-size: medium; }
  #page-meetings .form_meeting .new_meeting .date {
    background-color: transparent;
    border: none;
    outline: 0; }
  #page-meetings .form_meeting .new_meeting .time {
    background-color: transparent;
    border: none;
    outline: 0; }
  #page-meetings .form_meeting .new_meeting .atendees {
    background-color: transparent;
    border: none;
    outline: 0; }
  #page-meetings .form_meeting .new_meeting .agenda {
    margin-bottom: 20px; }
  #page-meetings .form_meeting .new_meeting textarea.agenda {
    background-color: transparent;
    outline: 0; }
  #page-meetings .form_meeting .new_meeting .minutes {
    background-color: transparent;
    border: none;
    outline: 0; }
  #page-meetings .form_meeting .new_meeting .file {
    background-color: transparent;
    border: none;
    outline: 0; }
  #page-meetings .form_meeting .new_meeting .box_input {
    border: 3px dashed;
    border-radius: 6px;
    border-color: #2C3E50;
    background-color: #F2F1EF;
    vertical-align: middle; }
    #page-meetings .form_meeting .new_meeting .box_input .box_button {
      background-color: transparent;
      font-size: medium;
      border: none;
      font-weight: bold;
      margin-bottom: 10px; }
#page-meetings #schedule_meeting {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: white;
  margin-top: 4%;
  padding: 20px; }
  #page-meetings #schedule_meeting .button_trash {
    margin: 0 0 20px 0; }
    #page-meetings #schedule_meeting .button_trash .trash {
      padding: 4px 20px 4px 20px;
      color: white;
      background-color: #c0392b;
      border: 2px solid;
      border-radius: 5px;
      align-self: center;
      outline: 0; }
      #page-meetings #schedule_meeting .button_trash .trash:hover {
        background-color: transparent;
        border: 2px solid;
        border-color: #c0392b;
        color: #c0392b; }
#page-meetings #create-meeting-settings .new_meeting .title {
  padding-bottom: 10px; }
#page-meetings #create-meeting-settings .new_meeting .calendar {
  text-align: center;
  vertical-align: middle;
  height: 30px;
  display: table;
  margin-bottom: 10px; }
  #page-meetings #create-meeting-settings .new_meeting .calendar span {
    width: 60px;
    border: solid 1px #bebebe;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: #ecf0f1;
    text-align: center;
    display: table-cell;
    vertical-align: middle; }
  #page-meetings #create-meeting-settings .new_meeting .calendar input {
    height: 30px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px; }
#page-meetings #create-meeting-settings .new_meeting .atendees {
  text-align: center;
  vertical-align: middle;
  height: 30px;
  display: table;
  margin-bottom: 10px; }
  #page-meetings #create-meeting-settings .new_meeting .atendees span {
    width: 60px;
    border: solid 1px #bebebe;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: #ecf0f1;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    padding-bottom: 10px; }
  #page-meetings #create-meeting-settings .new_meeting .atendees input {
    height: 30px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px; }

/*# sourceMappingURL=UI7.css.map */
