@import 'global';


#page-meetings{

.title_bar{
  background-color: white;
  padding: 10px 10px 0px 10px;

  button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    &:hover{
      border-bottom: 4px solid;
      border-bottom-color: $color_yellow;
    }
  }

  button:first-child{
    border-bottom: 4px solid;
    border-bottom-color: $color_yellow;
  }
}

#future_meetings{
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  border-radius: 5px;
  background-color: white;
  margin-top: 4%;
  padding-bottom: 4%;
  overflow: visible;

  .button_scheduale{
    padding-top: 20px;
    padding-bottom: 20px;

    .schedule{
      padding: 4px 20px 4px 20px;
      color: white;
      background-color: $blue_secondary;
      border: none;
      border-radius: 5px;
      align-self: center;
      outline: 0;

      &:hover{
        background-color: $color_yellow;
        border: none;
      }
    }
  }


  .meetings{
    margin-top: 10px;

    .specify_padding{
      padding-left: 20px !important;
      padding-right: 0px !important;
      margin-bottom: 15px;
    }

    .meeting{
      padding-left: 25px;
      border-radius: 5px;
      vertical-align: middle;
      padding-top: 4px;
      background-color: $background_white;


      #see_more{
        font-size: 24px;
        float: right;
        margin-right: 30px;
        font-weight: normal;
        cursor: pointer;
      }

      .information_meeting{

        .hour{
          font-size: medium;
        }

        #plus_user{
          color: $color_yellow;
          font-size: 26px;
          cursor: pointer;
        }

        .date{
          font-size: large;
          font-weight: bold;
        }

        .user_responsible{
          font-weight: normal;
          font-size: x-small;
        }

        .guests{
          padding-top: 5px;
          .user_photo{
            margin-right: 5px;
            width: 25px;
            float: left;
          }
        }
      }


    }
  }
}

  #schedule_meeting{
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    border-radius: 5px;
    background-color: white;
    margin-top: 4%;


    .button_trash{
      padding-top: 20px;
      padding-bottom: 20px;

      .trash{
        padding: 4px 20px 4px 20px;
        color: white;
        background-color: #c0392b;
        border: none;
        border-radius: 5px;
        align-self: center;
        outline: 0;

        &:hover{
          background-color: transparent;
          border: 2px solid;
          border-color: #c0392b;;
          color: #c0392b;;
        }
      }

    }
  }


}