body {
  padding: 0;
  margin: 0;
  background-color: #ecf0f1;
  height: 100vh;
  overflow-y: scroll;
  font-family: Roboto, Helvetica, sans-serif; }

#parent {
  height: 100%; }

#header {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 50px;
  background-color: #22313f; }

#sidebar {
  position: relative;
  top: 0px;
  left: 0px;
  bottom: 0px;
  width: auto;
  background-color: #22313f;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  text-align: center; }

#parent {
  margin-top: 50px;
  margin-left: 0px;
  background-color: #ecf0f1;
  height: 100%; }

#main-content {
  height: 100%; }

#page-wrapper {
  height: 100%; }

#bs-example-navbar-collapse-1 {
  border-top-width: 0px !important;
  padding: 0 !important;
  background-color: #22313f;
  margin: 0;
  overflow-x: hidden;
  text-align: center; }

@media (min-width: 768px) {
  #parent {
    margin-left: 100px; }

  #sidebar {
    position: fixed;
    top: 49px;
    width: 100px;
    border: none;
    border-radius: 0;
    overflow-y: auto;
    bottom: 0;
    overflow-x: hidden;
    padding-bottom: 40px; }
    #sidebar li a {
      color: #ecf0f1;
      width: 100px;
      text-align: center; }
      #sidebar li a:hover {
        outline: none;
        color: #e9d460;
        background-color: #192532 !important; }
        #sidebar li a:hover i, #sidebar li a:hover p {
          color: #e9d460 !important; }
      #sidebar li a:focus {
        outline: none;
        color: #e9d460;
        background-color: #192532 !important; }
        #sidebar li a:focus i, #sidebar li a:focus p {
          color: #e9d460 !important; }
      #sidebar li a p {
        margin-bottom: 0px !important; } }
.datepicker.datepicker-dropdown.dropdown-menu.datepicker-orient-left.datepicker-orient-bottom {
  margin-top: 60px;
  margin-left: 60px; }

#page-meetings .nopadding {
  padding: 0 !important; }
#page-meetings .title_bar {
  background-color: white;
  padding: 10px 10px 0px 10px; }
  #page-meetings .title_bar button {
    background-color: transparent;
    border: none;
    cursor: pointer; }
    #page-meetings .title_bar button:hover {
      border-bottom: 4px solid;
      border-bottom-color: #e9d460; }
  #page-meetings .title_bar button:first-child {
    border-bottom: 4px solid;
    border-bottom-color: #e9d460; }
#page-meetings .container_meetings {
  border: none;
  background-color: transparent;
  margin-top: 1%;
  padding-bottom: 4%;
  overflow-y: scroll !important; }
  #page-meetings .container_meetings .button_scheduale {
    padding-top: 20px;
    padding-bottom: 40px; }
    #page-meetings .container_meetings .button_scheduale .schedule {
      padding: 4px 20px 4px 20px;
      color: white;
      background-color: #e9d460;
      border: none;
      border-radius: 5px;
      align-self: center;
      outline: 0; }
      #page-meetings .container_meetings .button_scheduale .schedule:hover {
        background-color: #22313f;
        border: none; }
  #page-meetings .container_meetings .meeting {
    border-radius: 5px;
    vertical-align: middle;
    background-color: #fff; }
    #page-meetings .container_meetings .meeting .panel-heading {
      font-weight: lighter;
      width: 100%;
      padding-left: 30px !important;
      padding-right: 0px !important;
      padding-top: 10px;
      background-color: #22313f;
      color: white; }
      #page-meetings .container_meetings .meeting .panel-heading:hover {
        background-color: #e9d460; }
      #page-meetings .container_meetings .meeting .panel-heading #see_more {
        font-size: 24px;
        float: right;
        margin-right: 30px;
        cursor: pointer;
        vertical-align: middle; }
      #page-meetings .container_meetings .meeting .panel-heading .description {
        font-weight: normal; }
      #page-meetings .container_meetings .meeting .panel-heading .date {
        font-size: large;
        font-weight: normal; }
      #page-meetings .container_meetings .meeting .panel-heading i {
        font-size: large; }
    #page-meetings .container_meetings .meeting .panel-body {
      padding-left: 30px !important;
      padding-top: 0px !important; }
      #page-meetings .container_meetings .meeting .panel-body .information_meeting .hour {
        font-size: large;
        font-weight: normal; }
      #page-meetings .container_meetings .meeting .panel-body .information_meeting #plus_user {
        color: #e9d460;
        font-size: 35px;
        cursor: pointer; }
      #page-meetings .container_meetings .meeting .panel-body .information_meeting .user_responsible {
        font-weight: normal;
        padding-bottom: 5px; }
      #page-meetings .container_meetings .meeting .panel-body .information_meeting .guests {
        padding-top: 10px; }
        #page-meetings .container_meetings .meeting .panel-body .information_meeting .guests .user_photo {
          margin-right: 5px;
          width: 35px;
          float: left; }
#page-meetings #container_schedule_meeting .panel-heading {
  background-color: #e9d460;
  color: white; }
  #page-meetings #container_schedule_meeting .panel-heading span {
    font-size: medium; }
#page-meetings #container_schedule_meeting .button_trash {
  text-align: right;
  margin-left: 15px; }
  #page-meetings #container_schedule_meeting .button_trash .trash {
    padding: 4px 15px 4px 15px;
    color: white;
    background-color: #c0392b;
    border: 2px solid #c0392b;
    border-radius: 5px;
    align-self: center;
    outline: 0; }
    #page-meetings #container_schedule_meeting .button_trash .trash:hover {
      background-color: transparent;
      border: 2px solid;
      border-color: #c0392b;
      color: #c0392b; }
#page-meetings #container_schedule_meeting .form_meeting .new_meeting {
  margin-top: 10px;
  padding-left: 25px;
  padding-bottom: 190px;
  padding-top: 50px; }
  #page-meetings #container_schedule_meeting .form_meeting .new_meeting .title {
    background-color: transparent;
    border: none;
    outline: 0;
    padding-bottom: 15px;
    font-size: medium; }
  #page-meetings #container_schedule_meeting .form_meeting .new_meeting .date {
    background-color: transparent;
    border: none;
    outline: 0; }
  #page-meetings #container_schedule_meeting .form_meeting .new_meeting .time {
    background-color: transparent;
    border: none;
    outline: 0; }
  #page-meetings #container_schedule_meeting .form_meeting .new_meeting .atendees {
    background-color: transparent;
    border: none;
    outline: 0; }
  #page-meetings #container_schedule_meeting .form_meeting .new_meeting .agenda {
    margin-bottom: 20px; }
  #page-meetings #container_schedule_meeting .form_meeting .new_meeting textarea.agenda {
    background-color: transparent;
    outline: 0; }
  #page-meetings #container_schedule_meeting .form_meeting .new_meeting .minutes {
    background-color: transparent;
    border: none;
    outline: 0; }
  #page-meetings #container_schedule_meeting .form_meeting .new_meeting .file {
    background-color: transparent;
    border: none;
    outline: 0; }
  #page-meetings #container_schedule_meeting .form_meeting .new_meeting .box_input {
    border: 3px dashed;
    border-radius: 6px;
    border-color: #2C3E50;
    background-color: #F2F1EF;
    vertical-align: middle; }
    #page-meetings #container_schedule_meeting .form_meeting .new_meeting .box_input .box_button {
      background-color: transparent;
      font-size: medium;
      border: none;
      margin-bottom: 10px; }
#page-meetings #create-meeting-settings .new_meeting .title {
  margin-bottom: 30px; }
#page-meetings #create-meeting-settings .new_meeting .calendar {
  text-align: center;
  vertical-align: middle;
  height: 30px;
  display: table;
  margin-bottom: 20px; }
  #page-meetings #create-meeting-settings .new_meeting .calendar span {
    width: 60px;
    border: solid 1px #bebebe;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: #ecf0f1;
    text-align: center;
    display: table-cell;
    vertical-align: middle; }
  #page-meetings #create-meeting-settings .new_meeting .calendar input {
    height: 30px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px; }
#page-meetings #create-meeting-settings .new_meeting .atendees, #page-meetings #create-meeting-settings .new_meeting .minutes {
  text-align: center;
  vertical-align: middle;
  height: 30px;
  display: table;
  margin-bottom: 20px; }
  #page-meetings #create-meeting-settings .new_meeting .atendees span, #page-meetings #create-meeting-settings .new_meeting .minutes span {
    width: 60px;
    border: solid 1px #bebebe;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: #ecf0f1;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    padding-bottom: 10px; }
  #page-meetings #create-meeting-settings .new_meeting .atendees input, #page-meetings #create-meeting-settings .new_meeting .minutes input {
    height: 30px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px; }
#page-meetings #create-meeting-settings .new_meeting .agenda {
  background-color: white;
  border-radius: 5px;
  padding: 20px; }
  #page-meetings #create-meeting-settings .new_meeting .agenda textarea {
    width: 100%;
    height: 90px;
    overflow-y: scroll; }
  #page-meetings #create-meeting-settings .new_meeting .agenda button {
    background-color: #22313f;
    border-radius: 5px;
    border-color: transparent;
    color: white; }
    #page-meetings #create-meeting-settings .new_meeting .agenda button:hover {
      background-color: #e9d460; }
#page-meetings #create-meeting-settings .new_meeting .box.drag_here {
  border-radius: 5px;
  height: 150px;
  margin-top: 40px;
  border: 1px dashed grey;
  vertical-align: middle;
  background-color: #ecf0f1;
  display: table;
  width: 100%; }
  #page-meetings #create-meeting-settings .new_meeting .box.drag_here div {
    display: table-cell;
    vertical-align: middle; }
  #page-meetings #create-meeting-settings .new_meeting .box.drag_here .info {
    padding-top: 30px;
    text-align: center;
    font-size: medium;
    color: grey; }
  #page-meetings #create-meeting-settings .new_meeting .box.drag_here .glyphicon.glyphicon-plus {
    text-align: center;
    font-size: x-large;
    color: grey; }

/*# sourceMappingURL=UI7.css.map */
