//colors
@import 'global';

//@extend-elements
//original selectors
//html, body
%extend_1 {
  margin: 0;
  height: 100%;
  background-color: $background_white;
  width: 100%;
}

html {
  @extend %extend_1;
}

body {
  @extend %extend_1;
}

//--- LOADER -------------------------------------------------------------------------

h1 {
  color: #EEEEEE;
}

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 100%;
  width: 50px;
  height: 100%;
  -webkit-animation: spin 3s ; /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 3s ; /* Chrome, Firefox 16+, IE 10+, Opera */

  z-index: 1001;

  img{
    width: 100px;
    height: auto;
  }
}


@-webkit-keyframes spin {
  0%   {
    -webkit-transform: translateY(0);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateY(0);  /* IE 9 */
    transform: translateY(0);  /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateY(-100%);  /* IE 9 */
    transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */
  }
}
@keyframes spin {
  0%   {
    -webkit-transform: translateY(0);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateY(0);  /* IE 9 */
    transform: translateY(0);  /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateY(-100%);  /* IE 9 */
    transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */
  }
}

#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: $color_yellow;
  z-index: 1000;
  -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(0);  /* IE 9 */
  transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
}

#loader-wrapper .loader-section.section-left {
  left: 0;
}

#loader-wrapper .loader-section.section-right {
  right: 0;
}

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
  -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(-100%);  /* IE 9 */
  transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {
  -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(100%);  /* IE 9 */
  transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.loaded #loader-wrapper {
  visibility: hidden;

  -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateY(-100%);  /* IE 9 */
  transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

  -webkit-transition: all 0.3s 1s ease-out;
  transition: all 0.3s 1s ease-out;
}

/* JavaScript Turned Off */
.no-js #loader-wrapper {
  display: none;
}
.no-js h1 {
  color: #222222;
}


//-----------------------------------------------------------------------------

.container {
  height: 100%;
  padding: 0;
  align-content: center;
  width: 100vw;
  display: table;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: hidden;

  .container2{
    height:100%;
  }
  .panel{
    margin: 0;
    height: 100%;
  }
  .panel-body{
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
  }
}

.panelnopadding{
  padding: 0 !important;
}

.vertical-align {
  min-height: 50vh;
  display: table-cell;
  vertical-align: middle;
}


  .content_login {
    background-color: #22313f;
    height: 80vh;
  }

  .nopadding {
    padding: 0 !important;
    margin: 0 !important;
  }

  #buttons{
    white-space: normal !important;
  }

.description-links {
  margin-top: 65px;
  font-size: x-large;
  text-align: center;
  cursor: pointer;

  .sign-in-title {
    text-align: center;
    text-decoration: none;
    margin-right: 20px;
    padding-bottom: 5px;
    color: white;
    border-bottom: 4px solid;
    border-bottom-color: $color_yellow;
    &:hover,
    &:visited {
      border-bottom: 4px solid;
      border-bottom-color: $color_yellow;
      outline: 0;
    }
  }

  .or-title {
    padding-right: 20px;
    color: white;
    font-size: large;
  }

  .sign-up-title {
    text-align: center;
    text-decoration: none;
    color: #425262;
    padding-bottom: 5px;
    &:hover,
    &:visited {
      border-bottom: 4px solid;
      border-bottom-color: $color_yellow;
      outline: 0;
    }
  }
}

.form-login {
  margin-top: 90px;
  font-size: small;
  color: white !important;

  .form-login-right {
    margin-left: 35px;
    margin-right: 45px;

    .border-bottom {
      padding-left: 0 !important;
    }

    .border-bottom:nth-child(3),
    .border-bottom:nth-child(7) {
      padding-bottom: 4px;
      border-bottom-style: solid;
      border-bottom-color: #425262;
      outline: 0;
    }
  }

  .error_messages{
    font-size: 15px;
  }

  .email {

  }

  #email-input-id.email-input {
    font-size: small;
    padding-top: 15px;
    background-color: transparent;
    border: none;

    &:focus {
      outline: none;
    }

    &:-moz-placeholder {
      color: #425262;
    }
    &:-ms-input-placeholder {
      color: #425262;
    }
    &::-moz-placeholder {
      color: #425262;
    }
    &:-ms-input-placeholder {
      color: #425262;
    }

  }


  .password {
    padding-top: 35px;
    display: inline-block;
  }

  #password-input-id.password-input {
    padding-top: 15px;
    background-color: transparent;
    border: none;

    &:focus {
      outline: none;
    }
    &:-moz-placeholder {
      color: #425262;
    }
    &:-ms-input-placeholder {
      color: #425262;
    }
    &::-moz-placeholder {
      color: #425262;
    }
    &:-ms-input-placeholder {
      color: #425262;
    }

  }

  .form-actions {
    margin: 0;
    background-color: transparent;
    color: white;
    text-align: center;

    .login-button {
      padding: 10px 60px 10px 60px;
      margin-top: 122px;
      background-color: #425262;
      border: none;
      color: white;

      &:active,
      &:focus,
      &:hover,
      &:visited {
        background-color: $color_yellow;
        color: white;
        outline: 0;
      }
    }

  }

}


.form-register {
  margin-top: 50px;
  font-size: small;
  color: white !important;

  .form-register-right {
    margin-left: 45px;
    margin-right: 45px;

    .border-bottom {
      padding-left: 0 !important;
    }

    .border{
      padding-bottom: 4px;
      border-bottom-style: solid;
      border-bottom-color: #425262;
      outline: 0;
      box-shadow: 0px 24px 3px -24px #425262;
    }
  }

  .email {
    display: inline-block;
  }

  #email-input-id.email-input {
    font-size: small;
    padding-top: 15px;
    background-color: transparent;
    border: none;

    &:focus {
      outline: none;
    }

    &:-moz-placeholder {
      color: #425262;
    }
    &:-ms-input-placeholder {
      color: #425262;
    }
    &::-moz-placeholder {
      color: #425262;
    }
    &:-ms-input-placeholder {
      color: #425262;
    }

  }
  .error_messages{
    font-size: 15px;
  }

  .name {
    padding-top: 35px;
    display: inline-block;
  }

  #name-input-id.name-input {
    font-size: small;
    padding-top: 15px;
    background-color: transparent;
    border: none;

    &:focus {
      outline: none;
    }

    &:-moz-placeholder {
      color: #425262;
    }
    &:-ms-input-placeholder {
      color: #425262;
    }
    &::-moz-placeholder {
      color: #425262;
    }
    &:-ms-input-placeholder {
      color: #425262;
    }

  }

  .username {
    padding-top: 35px;
    display: inline-block;
  }

  #username-input-id.username-input {
    font-size: small;
    padding-top: 15px;
    background-color: transparent;
    border: none;

    &:focus {
      outline: none;
    }

    &:-moz-placeholder {
      color: #425262;
    }
    &:-ms-input-placeholder {
      color: #425262;
    }
    &::-moz-placeholder {
      color: #425262;
    }
    &:-ms-input-placeholder {
      color: #425262;
    }

  }
  .password {
    padding-top: 35px;
    display: inline-block;
  }

  #password-input-id.password-input {
    padding-top: 15px;
    background-color: transparent;
    border: none;

    &:focus {
      outline: none;
    }
    &:-moz-placeholder {
      color: #425262;
    }
    &:-ms-input-placeholder {
      color: #425262;
    }
    &::-moz-placeholder {
      color: #425262;
    }
    &:-ms-input-placeholder {
      color: #425262;
    }

  }

  .project {
    display: inline-block;
  }

  #project-input-id {
    font-size: small;
    background-color: transparent !important;
    border: none !important;

    &:focus {
      outline: none;
    }

    &:-moz-placeholder {
      color: #425262;
    }
    &:-ms-input-placeholder {
      color: #425262;
    }
    &::-moz-placeholder {
      color: #425262;
    }
    &:-ms-input-placeholder {
      color: #425262;
    }

  }

  .group2{
    padding-top: 35px;
    padding-bottom: 15px;
    vertical-align: middle;
  }

  .group1{
    padding-top: 15px;
  }

  .new-project {
    display: inline-block;
  }

  #new-project-input-id {
    font-size: small;
    background-color: transparent !important;
    border: none !important;

    &:focus {
      outline: none;
    }

    &:-moz-placeholder {
      color: #425262;
    }
    &:-ms-input-placeholder {
      color: #425262;
    }
    &::-moz-placeholder {
      color: #425262;
    }
    &:-ms-input-placeholder {
      color: #425262;
    }

  }

  .form-actions {
    margin: 0;
    background-color: transparent;
    color: white;
    text-align: center;

    .register-button {
      padding: 10px 50px 10px 50px;
      margin-top: 25px;
      background-color: #425262;
      border: none;
      color: white;

      &:active,
      &:focus,
      &:hover,
      &:visited {
        background-color: $color_yellow;
        color: white;
        outline: 0;
      }
    }

  }
}

/* ----------- Non-Retina Screens ----------- */
@media screen
and (min-device-width: 668px){

  .container{
    height: 80vh !important;
    padding-top: 10vh !important;
  }

}


