/*
Error: Invalid CSS after ">>>>>>> forum": expected "{", was "}"
        on line 77 of global.scss
        from line 1 of profile.scss

72:     &.collapsing, &.collapse, &.in{
73:       max-height: none;
74:       overflow-y: visible;
75:     }
76: >>>>>>> forum
77:   }
78: 
79:   .navbar-brand img{
80:     margin-top: -10px;
81:     margin-left: -10px;
82:     height: 40px;

Backtrace:
global.scss:77
profile.scss:1
/usr/local/share/gems/gems/sass-3.4.23/lib/sass/scss/parser.rb:1207:in `expected'
/usr/local/share/gems/gems/sass-3.4.23/lib/sass/scss/parser.rb:1137:in `expected'
/usr/local/share/gems/gems/sass-3.4.23/lib/sass/scss/parser.rb:1132:in `tok!'
/usr/local/share/gems/gems/sass-3.4.23/lib/sass/scss/parser.rb:665:in `block'
/usr/local/share/gems/gems/sass-3.4.23/lib/sass/scss/parser.rb:735:in `declaration_or_ruleset'
/usr/local/share/gems/gems/sass-3.4.23/lib/sass/scss/parser.rb:685:in `block_child'
/usr/local/share/gems/gems/sass-3.4.23/lib/sass/scss/parser.rb:677:in `block_contents'
/usr/local/share/gems/gems/sass-3.4.23/lib/sass/scss/parser.rb:666:in `block'
/usr/local/share/gems/gems/sass-3.4.23/lib/sass/scss/parser.rb:735:in `declaration_or_ruleset'
/usr/local/share/gems/gems/sass-3.4.23/lib/sass/scss/parser.rb:685:in `block_child'
/usr/local/share/gems/gems/sass-3.4.23/lib/sass/scss/parser.rb:677:in `block_contents'
/usr/local/share/gems/gems/sass-3.4.23/lib/sass/scss/parser.rb:666:in `block'
/usr/local/share/gems/gems/sass-3.4.23/lib/sass/scss/parser.rb:658:in `ruleset'
/usr/local/share/gems/gems/sass-3.4.23/lib/sass/scss/parser.rb:684:in `block_child'
/usr/local/share/gems/gems/sass-3.4.23/lib/sass/scss/parser.rb:677:in `block_contents'
/usr/local/share/gems/gems/sass-3.4.23/lib/sass/scss/parser.rb:125:in `stylesheet'
/usr/local/share/gems/gems/sass-3.4.23/lib/sass/scss/parser.rb:41:in `parse'
/usr/local/share/gems/gems/sass-3.4.23/lib/sass/engine.rb:406:in `_to_tree'
/usr/local/share/gems/gems/sass-3.4.23/lib/sass/engine.rb:312:in `to_tree'
/usr/local/share/gems/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:326:in `block in visit_import'
/usr/local/share/gems/gems/sass-3.4.23/lib/sass/stack.rb:88:in `block in with_import'
/usr/local/share/gems/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/usr/local/share/gems/gems/sass-3.4.23/lib/sass/stack.rb:88:in `with_import'
/usr/local/share/gems/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:325:in `visit_import'
/usr/local/share/gems/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/share/gems/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/usr/local/share/gems/gems/sass-3.4.23/lib/sass/stack.rb:79:in `block in with_base'
/usr/local/share/gems/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/usr/local/share/gems/gems/sass-3.4.23/lib/sass/stack.rb:79:in `with_base'
/usr/local/share/gems/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `visit'
/usr/local/share/gems/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/usr/local/share/gems/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `map'
/usr/local/share/gems/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/usr/local/share/gems/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:169:in `block in visit_children'
/usr/local/share/gems/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/usr/local/share/gems/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:168:in `visit_children'
/usr/local/share/gems/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/usr/local/share/gems/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:188:in `visit_root'
/usr/local/share/gems/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/usr/local/share/gems/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:159:in `visit'
/usr/local/share/gems/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:8:in `visit'
/usr/local/share/gems/gems/sass-3.4.23/lib/sass/tree/root_node.rb:36:in `css_tree'
/usr/local/share/gems/gems/sass-3.4.23/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/usr/local/share/gems/gems/sass-3.4.23/lib/sass/engine.rb:381:in `_render_with_sourcemap'
/usr/local/share/gems/gems/sass-3.4.23/lib/sass/engine.rb:298:in `render_with_sourcemap'
/usr/local/share/gems/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/usr/local/share/gems/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/usr/local/share/gems/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `each'
/usr/local/share/gems/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/usr/local/share/gems/gems/sass-3.4.23/lib/sass/plugin.rb:82:in `update_stylesheets'
/usr/local/share/gems/gems/sass-3.4.23/lib/sass/exec/sass_scss.rb:340:in `watch_or_update'
/usr/local/share/gems/gems/sass-3.4.23/lib/sass/exec/sass_scss.rb:51:in `process_result'
/usr/local/share/gems/gems/sass-3.4.23/lib/sass/exec/base.rb:52:in `parse'
/usr/local/share/gems/gems/sass-3.4.23/lib/sass/exec/base.rb:19:in `parse!'
/usr/local/share/gems/gems/sass-3.4.23/bin/scss:13:in `<top (required)>'
/usr/local/bin/scss:22:in `load'
/usr/local/bin/scss:22:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \">>>>>>> forum\": expected \"{\", was \"}\"\A         on line 77 of global.scss\A         from line 1 of profile.scss\A \A 72:     &.collapsing, &.collapse, &.in{\A 73:       max-height: none;\A 74:       overflow-y: visible;\A 75:     }\A 76: >>>>>>> forum\A 77:   }\A 78: \A 79:   .navbar-brand img{\A 80:     margin-top: -10px;\A 81:     margin-left: -10px;\A 82:     height: 40px;"; }
